* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;

}

nav {
    padding: 0.5rem;
    display: flex;
    background-color: black;
}

#navWordings {
    justify-content: center;
}

#navBurger {
    justify-content: flex-end;
}

a {
    padding: 0.5rem;
    background-color: black;
    color: white;
    margin: 0 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    text-decoration: none;
}

a:hover {
    /*background-color: white;
    opacity: 0.8;
    border-radius: 0.2rem;
    color: black*/
    color: #e4610f;
}

@media only screen and (max-width: 480px) {
    a {
      margin: 0 0;
    }
}

.fab {
    color: white;
}

section {
    padding: 1rem;
}

#headerImage{
    background-image: url('./images/Image2.jpg');
    width: auto;
    height: 0;
    padding: 1rem 1rem 25rem 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

/*#headerImage {
    background-image: url('_images/vivek-kumar-JS_ohjocm00-unsplash2.jpg');
    background-size: contain;
    height: 32.4vw;
}*/

main {
    background-color: black;
    color: white;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: black;
    text-shadow: -2px 2px 4px white,
    2px 2px 4px white,
    2px -2px 0 white,
    -2px -2px 0 white;
    margin-top: 6rem;
    margin-bottom: 8rem
}

#megaHeader p {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 4rem;
}

#TheBand {
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 6rem;
}

h2 {
    margin-top: -3rem;
    /*color: #e4610f;*/
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    /*-webkit-text-stroke: 0.001rem black;*/
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    margin-bottom: 3rem;
}

#TheBand h2 {
    margin-bottom: 1.5rem;
}

#TheBand i {
    font-size: 0.75rem;
    background-color: white;
    color: black;
}

#TheBand i:hover {
    color: #e4610f;
}

#fullStackExplanation {
    font-size: 0.9rem;
    padding-top: 1rem;
    display: none;
    width: 80%;
}

.black {
    color: black;
    text-shadow: -1px 1px 2px white,
    1px 1px 2px white,
    1px -1px 0 white,
    -1px -1px 0 white;
}

.storyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.storyBox {
    /*border-width: 0.01rem;
    border-style: solid;
    border-color: black;*/
    width: 220px;
    padding: 0.75rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    border-radius: 1.2rem;
}

.storyBox p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}

.storyBox img {
    border-radius: 4rem;
}

.storyBox button {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0.1rem 0;
    background: black;
    color: white;
    transition-delay: 1s;
    padding: 0.2rem;
    border-radius: 1rem;
}

#picturesWithBottomCaptions {
    padding-bottom: 5rem;
}

#picturesWithBottomCaptionsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#picturesWithBottomCaptions article {
    text-align: center;
    width: 25%;
    min-width: 20rem;
    margin: 0.5rem;
    background-color:black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*animation: 2s ease-out 0s 1 slideInFromLeft;*/
} 

/*@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
      transform: scale(0%);
    }
    100% {
      transform: translateX(0);
      transform: scale(100%);
    }
  }*/

#picturesWithBottomCaptions img {
    max-width: 100%;
    max-height: 18rem;
} 

#picturesWithBottomCaptions iframe {
    max-width: 100%;
    max-height: 18rem;
    border-style:none;
    z-index: 0;
    border-radius: 0.5rem;
}

#picturesWithBottomCaptions p {
    padding: 0.5rem;
    z-index: 10;
    width: 100%;
} 

#picturesWithBottomCaptions a {
    padding: 0;
    margin: 0;
}

#genPurple {
    color: #87189d;
    font-weight: bold;
}

#arcadisOrange {
    color: #e4610f;
    font-weight: bold;
}

#Bookings {
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 4rem;
}

.logos {
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0.5rem;
}

#Bookings article {
    margin-top: 4rem;
}

#Bookings h3 {
    font-size: 1.2rem;
    font-weight: bolder;
}

#Bookings p {
    padding: 0.1rem;
}

#Bookings a {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 0rem;
    text-decoration: underline;
}

#Bookings a:hover {
    color: #e4610f;
}

#Bookings iframe {
    max-width: 100%;
    max-height: 18rem;
    border-style:none;
    z-index: 0;
    border-radius: 0.5rem;
}

footer p {
    padding: 1rem;
    font-size: 0.75rem;
    color:white;
    background-color: black;
}

footer a {
    padding: 0;
    margin: 0;
}

input {
    font-size:14px;
    width: 250px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-width: 0.05rem;
}

textarea {
    font-size:14px;
    width: 250px;
    height: 200px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-width: 0.05rem;
}

/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #e4610f;
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

